.periodePicker {
    display: flex;
}

.dateRangePicker {
    gap: var(--a-spacing-4);
    display: grid;
    place-items: start;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 46ch;
}

.dateRangePicker :global(.navds-text-field__input[size]) {
    width: calc(var(--a-spacing-32) * 1.4);
}

.dateRangeInput > :global(.navds-date__wrapper) {
    display: flex;
    justify-content: space-between;
}
