.periodePicker {
    display: flex;
}

.dateRangePicker {
    gap: var(--ax-space-16);
    display: grid;
    place-items: start;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 46ch;
}

.dateRangePicker :global(.navds-text-field__input[size]) {
    width: calc(var(--ax-space-128) * 1.4);
}

.dateRangeInput > :global(.navds-date__wrapper) {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .dateRangePicker {
        width: 100%;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .dateRangePicker :global(.navds-text-field__input[size]) {
        width: 100%;
    }
}
