.twoPaneGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 65ch));
    gap: 2rem;
    width: 100%;
}

@media (max-width: 1024px) {
    .twoPaneGrid {
        grid-template-columns: 1fr;
        gap: 0;
    }
}
