.redaction {
    background: repeating-linear-gradient(
        45deg,
        var(--ax-border-neutral-subtle) 0,
        var(--ax-border-neutral-subtle) 5px,
        transparent 5px,
        transparent 10px
    );
}
