.disclosure {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    height: 2rem;
    width: 2rem;
    padding: 0;

    @apply flex justify-center items-center;
}

.comboboxItem:hover {
    background-color: var(--ax-bg-neutral-moderate-hoverA);
}

.comboboxItem[data-active-item] {
    background-color: var(--ax-bg-neutral-moderate-pressedA);
}
