name: Build & Deploy
on:
  push:
    paths-ignore:
      - docs/**
      - README.md

env:
  APP: syk-inn
  BASE_PATH: /samarbeidspartner/sykmelding

permissions:
  contents: read
  id-token: write
  packages: write

jobs:
  test-lint-knip:
    name: Test, lint and verify
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: navikt/tsm-workflows/actions/yarn@main
        with:
          READER_TOKEN: ${{ secrets.READER_TOKEN }}
      - run: yarn next typegen
      - run: yarn lint
      - run: yarn tsc
      - name: Test app
        run: yarn test
      - run: ./scripts/debt.sh >> $GITHUB_STEP_SUMMARY
      - name: Knip it
        run: yarn knip --no-exit-code --reporter=markdown >> "$GITHUB_STEP_SUMMARY"
      - name: Test report
        if: always()
        run: ./scripts/test-reporter.mjs Unit ./test-results/vitest-report.json >> "$GITHUB_STEP_SUMMARY"

  integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: navikt/tsm-workflows/actions/yarn@main
        with:
          READER_TOKEN: ${{ secrets.READER_TOKEN }}
      - run: yarn next typegen
      - name: Integration tests
        run: yarn test:integration
      - name: Test report
        if: always()
        run: ./scripts/test-reporter.mjs Integration ./test-results/vitest-report.json >> "$GITHUB_STEP_SUMMARY"

  build-dev:
    name: Build for dev
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/tsm-workflows/actions/next/build@main
        id: next-build
        with:
          app: ${{ env.APP }}
          env: dev
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          salsa: false
    outputs:
      image: ${{ steps.next-build.outputs.image }}
      digest: ${{ steps.next-build.outputs.digest }}

  build-demo:
    if: github.ref_name == 'main' || startsWith(github.ref_name, 'demo')
    name: Build for demo
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/tsm-workflows/actions/next/build@main
        id: next-build
        with:
          app: ${{ env.APP }}
          env: demo
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          salsa: false
    outputs:
      image: ${{ steps.next-build.outputs.image }}
      digest: ${{ steps.next-build.outputs.digest }}

  build-prod:
    if: github.ref_name == 'main'
    name: Build for prod
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/tsm-workflows/actions/next/build@main
        id: next-build
        with:
          app: ${{ env.APP }}
          env: prod
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          salsa: false
    outputs:
      image: ${{ steps.next-build.outputs.image }}
      digest: ${{ steps.next-build.outputs.digest }}

  sbom-dev:
    name: Upload SBOM for dev build
    needs: build-dev
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/tsm-workflows/actions/attest-sign@main
        with:
          image: ${{ needs.build-dev.outputs.image }}
          digest: ${{ needs.build-dev.outputs.digest }}
          team: tsm

  sbom-demo:
    name: Upload SBOM for demo build
    needs: build-demo
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/tsm-workflows/actions/attest-sign@main
        with:
          image: ${{ needs.build-demo.outputs.image }}
          digest: ${{ needs.build-demo.outputs.digest }}
          team: tsm

  sbom-prod:
    name: Upload SBOM for prod build
    needs: build-prod
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/tsm-workflows/actions/attest-sign@main
        with:
          image: ${{ needs.build-prod.outputs.image }}
          digest: ${{ needs.build-prod.outputs.digest }}
          team: tsm

  deploy-dev:
    name: Deploy main to dev
    if: github.ref_name == 'main' || startsWith(github.ref_name, 'dev/')
    environment:
      name: dev
      url: https://www.ekstern.dev.nav.no/samarbeidspartner/sykmelding
    runs-on: ubuntu-latest
    needs: [build-dev, test-lint-knip, integration-tests]
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/nais-dev.yaml
          VAR: image=${{ needs.build-dev.outputs.image }}
          NAIS_DEPLOY_SUMMARY: false

  deploy-demo:
    if: github.ref_name == 'main' || startsWith(github.ref_name, 'demo')
    name: Deploy main to demo
    environment:
      name: demo-main
      url: https://${{ env.APP }}.ekstern.dev.nav.no${{ env.BASE_PATH }}
    runs-on: ubuntu-latest
    needs: [build-demo, test-lint-knip, integration-tests]
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/nais-demo.yaml
          VAR: image=${{ needs.build-demo.outputs.image }},ingress=https://${{ env.APP }}.ekstern.dev.nav.no${{ env.BASE_PATH }},appname=${{ env.APP }},replicas=1,branchState=alive
          NAIS_DEPLOY_SUMMARY: false

  deploy-production:
    name: Deploy main to production
    if: github.ref_name == 'main'
    environment:
      name: production
      url: https://nav.no/samarbeidspartner/sykmelding
    runs-on: ubuntu-latest
    needs: [deploy-dev, run-playwright, build-prod]
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/nais-prod.yaml
          VAR: image=${{ needs.build-prod.outputs.image }}
          NAIS_DEPLOY_SUMMARY: false

  build-for-playwright:
    name: Build for playwright
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/tsm-workflows/actions/playwright/build@main
        id: playwright-build
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      image: ${{ steps.playwright-build.outputs.image }}

  run-playwright:
    needs: [build-for-playwright]
    name: Playwright shard ${{ matrix.shardIndex }}
    runs-on: ubuntu-latest
    services:
      app:
        image: ${{ needs.build-for-playwright.outputs.image }}
        ports: ['3000:3000']
    strategy:
      fail-fast: false
      matrix:
        shardIndex: [1, 2, 3, 4, 5, 6, 7, 8]
        shardTotal: [8]
    steps:
      - uses: actions/checkout@v5
      - run: corepack enable
      - uses: actions/setup-node@v6
        id: setup-node
        with:
          node-version: 24
      # We specifically do not use the yarn cache here, because installing the playwright e2e workspace is actually faster without cache
      - run: yarn workspaces focus e2e
      - uses: navikt/tsm-workflows/actions/playwright/run@main
        with:
          workspace: e2e
          shardIndex: ${{ matrix.shardIndex }}
          shardTotal: ${{ matrix.shardTotal }}

  playwright-report:
    name: Playwright report
    if: ${{ !cancelled() }}
    needs: [run-playwright]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: navikt/tsm-workflows/actions/playwright/report@main

  security:
    name: Security
    secrets: inherit
    permissions:
      contents: read
      id-token: write
      security-events: write
    needs: build-prod
    uses: navikt/tsm-workflows/.github/workflows/security.yaml@main
    with:
      image: ${{ needs.build-prod.outputs.image }}

  integration-tests-for-gpr:
    name: Publish a version of syk-inn integration tests to GPR for use in testing in syk-inn-api
    if: github.ref_name == 'main' || startsWith(github.ref_name, 'chore/dockerized-integration-tests')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          file: Dockerfile.integration-tests
          secrets: |
            npm_token=${{ secrets.GITHUB_TOKEN }}
          tags: |
            ghcr.io/${{ github.repository }}-integration-tests:latest
            ghcr.io/${{ github.repository }}-integration-tests:${{ github.sha }}
